.page-header, h3 {
  font-family: 'Open Sans', sans-serif;
}

#title-name {
  font-family: 'Cedarville Cursive', cursive;
}

.content p,
.content .news-feed,
blockquote,
.contact-email {
  line-height: 1.7;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
}
