body {
	font: 12px/15px Arial, "Helvetica Neue", Helvetica, Geneva, sans-serif;
	line-height: 1.5;
	background: #fff;
	overflow-x: hidden;
	margin-top: 0px;

	width: 100%;
	height: 100%;

	margin: 0;
	padding: 0;
	border: 0;
}


* {
	padding: 0px;
	margin: 0px;

	/*font: inherit;
	text-decoration: inherit;
	text-align: inherit;
	color: inherit;*/

	/*background: transparent;*/
}
/* links */


a:link {
font-style: normal;
	color: #000000;
	text-decoration: none;
}
a:active {
font-style: normal;
	color: #000000;
}
a:visited {font-style: normal;
	color: #000000;

}
a:hover {

	color: #000000;
	text-decoration: underline;
}

a img { border: none;
}
img a:hover{
	color: #fff;
}


/* LOGO*/
div#menu div.container p {
		overflow-x: hidden;
		font-style: normal;
}

.title-name {
	margin-top: 0px;
	margin-bottom: 17px;
}



/* main page only, NEWS */

#news {
	margin-bottom: 15px;
	margin-top: 0px;
}

body.section-1 div#content .news p {
	padding: 0px;
}

/*NEWS ITEMS*/
body #content .news-item p {
	margin: 0;
	padding: 0;
}

body #content .news-item {
	margin-bottom: 28px;
}

/* MENU */
#menu {
	width: 220px;
	overflow: hidden;
	top: 0px;
	bottom: 0;
	left: 0;
	position: absolute;
	height: 100%;
	background-color: transparent;
	margin-top: 0px;
	margin-left: 35px;

}

#menu ul {
	list-style: none;
	margin: 0 0 12px 0;
	line-height: 1.5em;
	padding-bottom: 5px;

}

#menu ul li.section-title {
}

#content {
	padding-left: 220px;  /* distance between menu and content */
	vertical-align: top;

}

.container {
	padding-top: 50px;
	padding-left: 25px;
}
div.anchored  {

}

p{
	text-align: justify;
	color: black;
	margin-bottom: 25px;
}

div.container p a img{
	font: 12px Arial;
	text-align: justify;
	color: black;
}


/* space between image and it's title */
.container img{
padding-bottom: 2px;
}

img{
width: inherit;
/*margin-top: -25px;*/
max-height: 74%;  /* magic number to center */
/*max-height:80vh;*/
	padding-right: 100px;
	max-width: 1150px;
}

#imgright {
	width: inherits;
	padding-left: 100px;
	padding-right: 0px;
}


body.section-1 {
	float: left;
	margin-left: 20px;
	max-width: 800px;
}

body.section-2, body.section-5, body.section-6, body.section-7, body.section-5 {
	margin-left: 20px;
	max-width: 950px;
	padding-right: 25px;
}


/* H */
h1 {

	font: bold 12px/15px Arial, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	border-style: none;
	border-width: 1px;
	border-bottom: 1px solid black;
	margin-bottom: 10px;
	width: 815px;
	opacity: 1;
	padding-bottom: 1px;
}

/* VIDEO */
iframe {
	margin-top: -20px;
}
