* {
	padding: 0px;
	margin: 0px;
}

body {
	font: 12px/15px Arial, "Helvetica Neue", Helvetica, Geneva, sans-serif;
	line-height: 1.5;
	background: #fff;
	overflow-x: hidden;
	margin-top: 0px;

	width: 100%;
	height: 100%;

	margin: 0;
	padding: 0;
	border: 0;
}

a:link {
	font-style: normal;
	color: #000000;
	text-decoration: none;
}

a:active {
	font-style: normal;
}

a:visited {
	font-style: normal;
	color: #000000;
}

.nav a:hover {
	color: #B28CBA;
}


img a:hover{
	color: #fff;
}

/* LOGO*/

.title-name {
	margin-top: 0px;
	margin-bottom: 17px;
}



/* main page only, NEWS */

#news {
	margin-bottom: 15px;
	margin-top: 0px;
}

body.section-1 div#content .news p {
	padding: 0px;
}

/*NEWS ITEMS*/
body .content .news-item p {
	margin: 0;
	padding: 0;
}

body .content .news-item {
	margin-bottom: 28px;
}

/* MENU */
.menu {
	width: 185px;
	overflow: hidden;
	top: 0px;
	bottom: 0;
	left: 0;
	position: absolute;
	height: 100%;
	background-color: transparent;
	margin-top: 0px;
	margin-left: 35px;

}

.menu ul {
	list-style: none;
	margin: 0 0 12px 0;
	line-height: 1.5em;
	padding-bottom: 5px;
}

.content {
	padding-left: 220px;  /* distance between menu and content */
	vertical-align: top;
}

.nav {
	position: fixed;
}

.container {
	padding-top: 50px;
	padding-left: 25px;
}

p{
	text-align: justify;
	color: black;
	margin-bottom: 25px;
}

img.imgleft {
	padding-right: 100px;
}

img.imgright {
	padding-left: 100px;
}

.portraits img {
	margin-bottom: 10px;
}

.container img {
	padding-bottom: 2px;
}

img {
	width: inherit;
	max-height: 74%;
	/*padding-right: 100px;*/
	max-width: 1150px;
}

body {
	float: left;
	/*margin-left: 20px;*/
	max-width: 820px;
}




/* H */
h1 {
	font: bold 12px/15px Arial, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	border-style: none;
	border-width: 1px;
	border-bottom: 1px solid black;
	margin-bottom: 10px;
	width: 815px;
	opacity: 1;
	padding-bottom: 1px;
}

/*Wedding blurb is default invisible*/
.container article.wedding-blurb {
	/*background-color: yellow;*/
	position: absolute;
	opacity: 0;
	z-index: -50;
}

.container a.read-more {
	text-decoration: underline;
	cursor: pointer;
}

/*Make wedding blurb visible*/

.container article.visible {
	position: static;
	opacity: 1;
	transition: opacity 1.5s linear;
	z-index: 0;
}

.container .invisible {
	display: none;
}

blockquote {
	margin: 10px 80px 10px 20px;
}
