<div class="completed-weddings">
  <p>
    <a href="{{site.baseurl}}/weddings/holly-steve-wedding">Wedding w/ Holly and Steve, Castro Valley CA, 5 August 2017 (24 pictures)</a>
  </p>

  <p>
    <a href="{{site.baseurl}}/weddings/chris-doug-wedding">Wedding w/ Chris and Doug, Graton CA, 7 July 2017 (25 pictures)</a>
  </p>

  <p>
    <a href="{{site.baseurl}}/weddings/holly-stephen-engagement">Engagement w/ Holly and Stephen, CNMAT, Berkeley CA, 24 June 2017 (6 pictures)</a>
  </p>

  <p>
    <a href="{{site.baseurl}}/weddings/avril-james-wedding">Wedding w/ Avril and James, City Hall, 9 June 2017 (15 pictures)</a>
  </p>
  <p>
    <a href="{{site.baseurl}}/weddings/natalie-ray-wedding">Wedding w/ Ray and Natalie, City Hall, 5 June 2017 (21 pictures)</a>
  </p>
  <p>
    <a href="{{site.baseurl}}/weddings/stacey-joe-wedding">Wedding w/ Stacey and Joe, Morgan Hill, 27 May 2017 (20 pictures)</a>
  </p>
  <p>
    <a href="{{site.baseurl}}/weddings/leila-sebastian-wedding">Wedding w/ Leila and Sebastian, San Ramon, 21 May 2017 (12 pictures)</a>
  </p>
  <p>
    <a href="{{site.baseurl}}/weddings/karen-chris-engagement">Engagement w/ Karen and Chris, CNMAT, Berkeley, 14 May 2017 (15 pictures)</a>
  </p>
  <p>
    <a href="{{site.baseurl}}/weddings/jadeen-evan-engagement">Engagement w/ Jadeen and Evan, Palace of Fine Arts, SF, 6 May 2017 (11 pictures)</a>
  </p>
  <p>
    <a href="{{site.baseurl}}/weddings/winnie-wilfred-wedding">Wedding w/ Winnie and Wilfred, San Jose, 24 February 2017 (15 pictures)</a>
  </p>
</div>
