<p>
  <a href="{{site.baseurl}}/weddings/chris-doug-wedding">Wedding w/ Chris and Doug, Graton, 7 July 2017 (30 pictures)</a>
</p>

<p>
  <a href="{{site.baseurl}}/weddings/holly-stephen-engagement">Engagement w/ Holly and Stephen, CNMAT, Berkeley CA, 24 June 2017 (6 pictures)</a>
</p>

<p>
  <a href="{{site.baseurl}}/weddings/avril-james-wedding">Wedding w/ Avril and James, City Hall, 9 June 2017 (15 pictures)</a>
</p>
<p>
  <a href="{{site.baseurl}}/weddings/natalie-ray">Wedding w/ Ray and Natalie, City Hall, 5 June 2017 (24 pictures)</a>
</p>
<p>
  <a href="{{site.baseurl}}/weddings/stacey-joe">Wedding w/ Stacey and Joe, Morgan Hill, 27 May 2017 (16 pictures)</a>
</p>
<p>
  <a href="{{site.baseurl}}/weddings/karen-chris">Engagement w/ Karen and Chris, CNMAT, Berkeley, 14 May 2017 (23 pictures)</a>
</p>
<p>
  <a href="{{site.baseurl}}/weddings/jadeen-evan">Engagement w/ Jadeen and Evan, Palace of Fine Arts, SF, 6 May 2017 2 (14 pictures)</a>
</p>
