<div class="logo">
  <a id="title-name" href="{{site.baseurl}}/">Matt L. Wong</a>
</div>

<span class="hamburger"></span>


<div class="nav">
  <ul>
    <li>
      <a class="{% if page.url contains 'projects' %}current{% endif %}" href="{{site.baseurl}}/projects">PROJECTS</a>
    </li>
    <li>
      <a class="{% if page.url contains 'weddings' %}current{% endif %}" href="{{site.baseurl}}/weddings">WEDDINGS &amp; ENGAGEMENTS</a>
    </li>
    <li>
      <a class="{% if page.url contains 'portraits_I' %}current{% endif %}" href="{{site.baseurl}}/portraits_I">PORTRAITS I</a>
    </li>
    <li>
      <a class="{% if page.url contains 'portraits_ii' %}current{% endif %}" href="{{site.baseurl}}/portraits_ii">PORTRAITS II</a>
    </li>
  </ul>
  <ul>
    <li>
      <a class="{% if page.url contains 'news' %}current{% endif %}" href="{{site.baseurl}}/news">NEWS</a>
    </li>
    <li>
      <a class="{% if page.url contains 'contact' %}current{% endif %}"
      href="{{site.baseurl}}/contact">CONTACT</a>
    </li>
  </ul>
</div>

<!-- class="{% if page.url == '/projects'%}current{% endif %} -->
