<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Matt L Wong | Photographer</title>
    <link rel="stylesheet" href="{{site.baseurl}}/css/style.css"/>
    <link rel="stylesheet" href="{{site.baseurl}}/css/mobile.css"/>
    <link rel="stylesheet" href="{{site.baseurl}}/css/font.css"/>
    <link rel="stylesheet" href="{{site.baseurl}}/css/bxslider.css"/>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <style type="text/css">
      #img-container p { margin-bottom: 40px;width:2000px; }
      #img-container p span { line-height: 14px; }
    </style>

    <script src="{{site.baseurl}}/javascripts/jquery.js"></script>
    <script src="{{site.baseurl}}/javascripts/bxslider.js"></script>
    <script src="{{site.baseurl}}/javascripts/homepage.js"></script>
    <script src="{{site.baseurl}}/javascripts/site.js"></script>

  </head>

  <body class="section-1">
    <div id="menu">
      <div class="container">
        <p class="title-name">
          <a href="{{site.baseurl}}/">Matt L. Wong</a>
        </p>
        <ul>
          <li>
            <a href="{{site.baseurl}}/projects">Projects</a>
          </li>
          <li>
            <a href="{{site.baseurl}}/weddings">Weddings &amp; Engagements</a>
          </li>
          <li>
            <a href="{{site.baseurl}}/portraits_i">Portraits I</a>
          </li>
          <li>
            <a href="{{site.baseurl}}/portraits_ii">Portraits II</a>
          </li>
        </ul>
        <ul>
          <li>
            <a href="{{site.baseurl}}/news">News</a>
          </li>
          <li>
            <a href="{{site.baseurl}}/contact">Contact</a>
          </li>
        </ul>
        <p>
          <pdf>
            <a href="#">Download .PDF</a>
          </pdf>
        </p>
      </div>
    </div>

    <div id="content">
      <div class="container">
        {{content}}
      </div>
    </div>

  </body>
</html>
