---
layout: default
---

<div class="responsive-fit">
  {{ content }}
</div>


<script type="text/javascript">


let height = $( window ).innerHeight();
let width = $( window ).innerWidth();
let vWidth = 0.75 * height - 50;
let hWidth = width - 335 - 24;

if (width > 768) {
  if (vWidth < hWidth) {
    $(".responsive-fit").css("width",vWidth);
    // if (vWidth > 684) {
    //   $(".responsive-fit").css("width",684);
    // } else {
    //   $(".responsive-fit").css("width",vWidth);
    // }
  } else {
    $(".responsive-fit").css("width",hWidth);
    // if (hWidth > 684) {
    //   $(".responsive-fit").css("width",684);
    // } else {
    //   $(".responsive-fit").css("width",hWidth);
    // }
  }
} else {
  let starting_width = window.innerWidth - 15;
  console.log(starting_width);
  $(".responsive-fit").css({"width":starting_width,"padding-left":0});
}

$( window ).resize(function() {
  if ( $(this).width() > 768) {
    $(".responsive-fit").css("padding",0);
    let x = this.innerWidth;
    let y = this.innerHeight;
    let verticalWidth = 0.75*y-50;
    let horizontalWidth = x - 335 - 24;
    if (verticalWidth < horizontalWidth) {
      $(".responsive-fit").css("width",verticalWidth);
      // if (verticalWidth > 684) {
      //   $(".responsive-fit").css("width",684);
      // } else {
        // $(".responsive-fit").css("width",verticalWidth);
      // }
    } else {
      $(".responsive-fit").css("width",horizontalWidth);

      // if (horizontalWidth > 684) {
      //   $(".responsive-fit").css("width",684);
      // } else {
      //   $(".responsive-fit").css("width",horizontalWidth);
      // }
    }
  } else {
    let x = window.innerWidth - 15;
    // console.log(x);
    $(".responsive-fit").css({"width":x,"padding-left":0});
  }
})
</script>
